@charset "utf-8";

$black-lowtrans:hsla(0, 0%, 0%, 0.719);
$primary:rgb(199, 0, 0);
$info:$black-lowtrans;

$navbar-height:5rem;
$navbar-background-color: hsla(0, 0%, 0%, 0.171);
$navbar-item-hover-color: $primary;
$navbar-item-hover-background-color:transparent;

$footer-background-color:black;
$footer-padding: 3rem 1.5rem 6rem;




@import "../css/bulma-0.8.2/bulma.sass";
@import "../css/bulma-0.8.2/sass/components/_all.sass";
@import "../css/bulma-0.8.2/sass/utilities/_all.sass";
@import "../css/bulma-0.8.2/sass/base/_all.sass";
@import "../css/bulma-0.8.2/sass/elements/_all.sass";
@import "../css/bulma-0.8.2/sass/form/_all.sass";
@import "../css/bulma-0.8.2/sass/grid/_all.sass";
@import "../css/bulma-0.8.2/sass/layout/_all.sass";
